<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"
>
<head>
<meta charset="utf-8">
<title>Insert title here</title>

</head>
<body>
<div layout:fragment="pageContent">
<h1>Categorie</h1>
 <div class="container mt-5">
                 <div class="card"> 
                 <div class="card-header">Liste des Categories</div>
                 <div class ="card-body">
                 <form method="get" th:actions="@{categorie}">
        <div class= "form-group">
            <label>Name:</label>
                   <input type= "text" name="keyword" placeholder="Search name.." th:value="${keyword}"> 
                           <button class= "btn btn-success"> Search </button>
       </div> 
 </form>
<table class="table">
    <tr>
    
  <th>id</th><th>name</th>
    </tr>
<tr th:each="p:${categorie}">
<td th:text="${p.id}"></td>
<td th:text="${p.name}"></td>



 <td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger" th:href="@{'/deletecategorie/{id}'(id=${p.id})}"  th:method="delete">Delete</a>
 </td>
 
<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-info" th:href="@{editcategorie(id=${p.id})}">Modifier</a></td>
</tr>

</table>
<ul class="nav nav-pills">
<li  th:each="page,status:${pages}">
<a th:class="${status.index==currentPage?'btn btn-primary':'btn'}" th:href="@{categorie(page=${status.index},keyword=${keyword})}" th:text="${status.index}"></a>
</li>
</ul></div></div></div>
</div>
</body>
</html>