<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"
>
<head>
<meta charset="utf-8">
<title>Insert title here</title>

</head>
<body>
<div layout:fragment="pageContent">

 <div class="container mt-5">
 <div class="col-md-6">
 <div class="card">
 <div class="card-header" th:if="${cinema.id==null}">Saisir un nouveau cinema</div>
 <div class="card-header" th:if="${cinema.id!=null}">mise à jour le cinema</div>
 
 <div class="card-body">
    <form th:action="@{savecinema}" method="post">
      
      <div class="form-group">
       <label class="control-label">Id:</label>
        <label class="control-label" th:text="${cinema.id}"></label>
      
       <input type="hidden" name="id" class="form-control" th:value="${cinema.id}"/>
      
       </div>
       <div class="form-group">
       <label class="control-label">Altitude:</label>
       <input type="number" name="altitude" class="form-control" th:value="${cinema.altitude}"/>
       <span></span>
       </div>
        <div class="form-group">
       <label class="control-label">Latitude:</label>
       <input type="number" name="Latitude" class="form-control" th:value="${cinema.latitude}"/>
       <span></span>
       </div>
         <div class="form-group">
       <label class="control-label">Longtide:</label>
       <input type="number" name="Longtide" class="form-control" th:value="${cinema.longtide}"/>
       <span></span>
       </div>
        <div class="form-group">
       <label class="control-label">Name:</label>
       <input type="text" name="name" class="form-control" th:value="${cinema.name}"/>
       <span th:errors="${cinema.name}"></span>
       </div>
         <div class="form-group">
       <label class="control-label">Nombre salle:</label>
       <input type="number" name="nombreSalles" class="form-control" th:value="${cinema.nombreSalles}"/>
       <span></span>
       </div>
         <div class="form-group">
       <label class="control-label">ville:</label>
       <input type="number" name="ville" class="form-control" th:value="@{cinema.ville}"/>
       <span></span>
       </div><button class="btn btn-success" type="submit">save</button>
    </form></div></div></div>
 </div>
</div>
</body>
</html>